@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


/* ====================================
  Reset e estilos base para links
==================================== */
a {
 text-decoration: none;

 color: #000000;
}