/* ====================================
            Rodapé (footer)
==================================== */

footer {

    /* Imagem de fundo */
    /* background: url("../img/banner.png"); */
  
    /* Cor escura por cima */
    background-color: rgba(0, 0, 0, 0.3);
  
    /* Mescla escurecendo */
    background-blend-mode: darken;
  
  }
  
  
  /* Texto do rodapé */
  footer p {
  
    font-weight: bold;
  
    color: #ffffff;
  
    display: inline-block;
  
    text-align: right;
  
    width: 99%;
  
    font-size: 19px;
  
    margin-bottom: 0;
  
  }


/* Logo no rodapé */
.logo_footer {
    width: 11%;

    margin-left: 45%;

    margin-top: 30px;
}



/* Ícones de redes sociais */
i {
    color: white;
}

footer a {
    font-style: none;
    color: white;
}