/* ====================================
     Header (topo do site)
==================================== */
.divHeader {
 display: flex;

 /* Espaço entre logo e menu */
 justify-content: space-between;

 /* Alinha os itens */
 align-items: center;

 padding: 1rem 2rem;

 background-color: #9a5833;

 position: relative;
}


/* Logo no topo */
.logo {
 width: 11%;
}


/* ====================================
         Navegação (menu)
==================================== */
.nav-links {
 background: rgba(255, 255, 255, 0.08);

 backdrop-filter: blur(10px);

 border-radius: 16px;

 padding: 0.6rem 1.2rem;

 box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}


.nav-list {
 list-style: none;

 display: flex;

 gap: 1.5rem;

 margin: 0;

 padding: 0;
}


.nav-item {
 color: #000000;

 text-decoration: none;

 font-size: 1.6rem;

 font-weight: 600;

 padding: 0.4rem 0.8rem;

 border-radius: 8px;

 transition: all 0.3s ease;
}


.nav-item:hover {
 background: rgba(255, 255, 255, 0.15);

 color: #9a5833;
}
.menu-btn {
     display: none;
 }

@media (max-width: 1024px) {
     .menu-btn {
         display: initial;
         z-index: 4;
         border: none;
         background: transparent;
     }
 
     .menu-icon.open {
         color: #000000;
     }
 
     .menu-icon.close {
         color: #000000;
     }
 
     .nav-links {
         position: fixed;
         top: 0;
         right: -100%;
         height: 100vh;
         width: 250px;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         gap: 2rem;
         background-color: #222;
         transition: right .3s ease;
         z-index: 3;
     }
 
     .nav-links ul{
         color: #f6f4ee;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 10px;
         padding-top: 130%;
         background-color: #9a5833;
     }
 
     .nav-links.active {
         right: 0;
         background-color: #9a5833;
     }
 
     .overlay {
         position: fixed;
         inset: 0;
         background: rgba(0, 0, 0, 0.4);
     }
 }